<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="../static/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="../static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/style-responsive.css" rel="stylesheet" />
    <link href="../static/css/custom.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]
    <script src="../static/js/html5shiv.js"></script>
    <script src="../static/js/respond.min.js"></script>
    <script src="../static/js/lte-ie7.js"></script> -->
    <script type="text/javascript">
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ( (charCode > 31 && charCode < 48) || charCode > 57) {
                return false;
            }
            return true;
        }
    </script>
</head>
{% endblock %}
<body>
    <!--header start-->
    <header class="header dark-bg">
        <!--logo start-->
        <a href="/index" class="logo">LGU <span class="lite">HELPER</span></a>
        <!--logo end-->

        <div class="nav search-row" id="top_menu">
            <!--  search form start -->
            <ul class="nav top-menu">
                <li>
                    <form class="navbar-form">
                        <input class="form-control" placeholder="Search" type="text">
                    </form>
                </li>
            </ul>
            <!--  search form end -->
        </div>

        <div class="top-nav notification-row">
            <!-- notificatoin dropdown start-->
            <ul class="nav pull-right top-menu">
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="profile-ava">
                            <img alt="user avatar" src="../static/img/user1.png" style="height: 18%; width: 18%">
                        </span>
                        <!-- <i class="icon_lock_alt"> -->
                        <span class="username">{{ session['username'] }}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <li class="eborder-top">
                            <a href="/index"><i class="icon_profile"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="/logout"><i class="icon_lock_alt"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
  </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar"  class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu">
              <li class="active">
                  <a class="" href="index.html">
                      <i class="icon_house_alt"></i>
                      <span>Dashboard</span>
                  </a>
              </li>
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="social_myspace"></i>
                      <span>Users</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
                  <ul class="sub">
                      <li><a class="" href="/adduser">Add User</a></li>
                      <li><a class="" href="/viewuser">View Users</a></li>
                  </ul>
              </li>
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon_document_alt"></i>
                      <span>Ordinances</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
                  <ul class="sub">
                      <li><a class="" href="/addordinance">Add Ordinance</a></li>
                      <li><a class="" href="/viewordinance">View Ordinances</a></li>
                  </ul>
              </li>
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon_document_alt"></i>
                      <span>Resolutions</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
                  <ul class="sub">
                      <li><a class="" href="/addresolution">Add Resolution</a></li>
                      <li><a class="" href="/viewresolution">View Resolutions</a></li>
                  </ul>
              </li>
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon_document_alt"></i>
                      <span>Others</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
                  <ul class="sub">
                      <li><a class="" href="/addother">Add Other Document</a></li>
                      <li><a class="" href="/viewother">View Other Documents</a></li>
                  </ul>
              </li>


          </ul>
          <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    {% block section %} {% endblock %}
</body>
</html>